@import url("https://fonts.googleapis.com/css2? family= Open+Sans:wght@400;500;600;700 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
*::-moz-selection {
  background: black;
  color: blue;
}
*::selection {
  background: black;
  color: blue;
}

.fondo {
  background: linear-gradient(159deg, rgb(162, 37, 37) 28%, rgba(15, 161, 255, 0.9584208683) 58%, rgba(187, 118, 130, 0.9584208683) 83%);
  opacity: 90%;
  background-size: cover;
  background-repeat: no-repeat;
}
.fondo .menu {
  background-color: black;
  width: 100%;
  height: 60%;
  padding-top: 90px;
  gap: 5px;
}
.fondo .menu .gridmenu {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 100px 105px 105px;
  text-align: center;
  list-style-type: none;
}
.fondo .menu .gridmenu li:hover {
  transform: scale(1.1);
}
.fondo .menu .gridmenu li a {
  color: white;
  font-family: sans-serif;
  font-weight: 900;
  margin-left: 5px;
  padding: 3px;
  padding-bottom: 3px;
  background: linear-gradient(159deg, rgb(162, 37, 37) 28%, rgba(15, 161, 255, 0.9584208683) 58%, rgba(187, 118, 130, 0.9584208683) 83%);
  border: none;
  border-radius: 10px;
  text-decoration: none;
}
.fondo .redes {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}
.fondo .redes a {
  text-decoration: none;
  color: white;
}
.fondo .logo {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  -webkit-animation-name: rebote;
          animation-name: rebote;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
@-webkit-keyframes rebote {
  0% {
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes rebote {
  0% {
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.grid0 {
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: oblique;
  display: grid;
  align-content: center;
  margin: 10px;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "imagen1 imagen2" "imagen3 imagen4";
}
.grid0 .imagen1 {
  grid-area: imagen1;
  display: flex;
  justify-content: center;
}
.grid0 .imagen1 > img {
  opacity: 90%;
  border: 5px solid white;
  border-radius: 10px;
}
.grid0 .texto2 {
  grid-area: imagen2;
  text-align: center;
  display: flex;
  align-items: center;
  width: 450px;
  height: 450px;
  background-color: black;
  opacity: 90%;
  border: 5px solid white;
  border-radius: 10px;
}
.grid0 .texto2:hover {
  transform: scale(1.1);
  background: linear-gradient(to bottom, rgb(8, 8, 109), rgb(107, 164, 211));
}
.grid0 .texto2 > h5 {
  -webkit-animation-name: entradatexto;
          animation-name: entradatexto;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes entradatexto {
  0% {
    transform: rotateY(-100deg);
    transform-origin: right;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes entradatexto {
  0% {
    transform: rotateY(-100deg);
    transform-origin: right;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}
.grid0 .imagen3 {
  grid-area: imagen3;
  display: flex;
  justify-content: center;
}
.grid0 .imagen3 > img {
  opacity: 90%;
  border: 5px solid white;
  border-radius: 10px;
}
.grid0 .texto4 {
  grid-area: imagen4;
  text-align: center;
  display: flex;
  align-items: center;
  width: 450px;
  height: 450px;
  background-color: black;
  opacity: 90%;
  border: 5px solid white;
  border-radius: 10px;
}
.grid0 .texto4:hover {
  transform: scale(1.1);
  background: linear-gradient(to bottom, rgb(8, 8, 109), rgb(107, 164, 211));
}
.grid0 .texto4 > h5 {
  -webkit-animation-name: entradatexto;
          animation-name: entradatexto;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@keyframes entradatexto {
  0% {
    transform: rotateY(-100deg);
    transform-origin: right;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}

.footer1 .whatsapp {
  display: flex;
  position: fixed;
  right: 60px;
  padding-top: 8px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 55px;
}
.footer1 .whatsapp > a {
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 15px;
  font-style: oblique;
  text-decoration: none;
}
.footer1 .whatsapp > a > img {
  background-color: green;
  border-radius: 50px;
}
.footer1 .copy {
  text-align: center;
  padding-top: 40px;
  font-size: 10px;
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 25px;
  font-style: oblique;
}

/*falta media queries*/
@media screen and (max-width: 480px) {
  .redes {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  .logo {
    width: 100%;
  }
  .grid0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .redes {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  .menu {
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
  }
  .logo {
    width: 100%;
  }
  .grid0 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=estilo.css.map */