.footer1{

    .whatsapp {
        display: flex;
        position: fixed;
        right: 60px;
        padding-top: 8px;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 55px;

        >a {
            color: green;
            font-family:$fontSans;
            font-weight: $font-weight;
            font-size: 18px;
            font-style: oblique;
            text-decoration: none;

            }
    }
    .copy {

        text-align: center;
        padding-top: 50px;
        font-size: 15px;
        background-color:$secondarycolor;
        color: white;
        font-family:$fontSans;
        font-weight: $font-weight;
        font-style: oblique;
    }      
}
