.footer1{

    .whatsapp {
        display: flex;
        position: fixed;
        right: 60px;
        padding-top: 8px;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 55px;
        max-width: 100%;
        >a {
            color: green;
            text-decoration: none;
            font-size: 18px;

            }
    }
    .copy {
        font-size: 12px;
        text-align: center;
        padding-top: 50px;
        background-color:$secondarycolor;
        color: white;
        
    }    
    @media screen and (max-width:480px) {
        .whatsapp {
            display: flex;
            position: fixed;
            
           
        }

       
    }
    @media screen and (max-width:768px) {
        .whatsapp {
            display: flex;
            position: fixed;
            
    }
}
     
}
@mixin textos {
    font-family: sans-serif;
    font-weight: 600;
    font-style: oblique;
}
.footer1 .whatsapp a{
    @include textos;
}
.footer1 .copy{
    @include textos;
}