.grid0 {
    padding: 10px;

    font-family: $fontSans;
    font-weight: $font-weight;
    font-size: 20px;
    font-style: oblique;

    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 10px;
    opacity: 90%;



    .imagen1 {
        opacity: 90%;
        border: solid white;
        border-radius: 10px;

        >img {
            max-width: 100%;

        }
    }

    .texto2 {
        display: flex;
        align-items: center;
        background-color: $secondarycolor;
        width: 450px;
        max-width: 100%;
        text-align: center;
        border: solid white;
        border-radius: 10px;
        color: white;
        &:hover {
            transform: scale(1.1);
            background: linear-gradient(159deg, rgb(16, 17, 19) 20%, rgba(15, 161, 255, 0.958420868347339) 75%, rgb(14, 12, 12) 15%);
        }

        >h5 {
            animation-name: entradatexto;
            animation-duration: 2s;

        }
    }


    @keyframes entradatexto {
        0% {
            -webkit-transform: rotateY(-100deg);
            transform: rotateY(-100deg);
            -webkit-transform-origin: right;
            transform-origin: right;
            opacity: 0;
        }

        100% {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
            -webkit-transform-origin: right;
            transform-origin: right;
            opacity: 1;
        }
    }
    
}

@media screen and (max-width:480px) {
    .grid0 {
        display: flex;
        flex-direction: column;
    }

}



@media screen and (max-width:768px) {
    .grid0 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}

