.grid0 {
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: $fontSans;
    font-weight: $font-weight;
    font-size: 20px;
    font-style: oblique;

    display: grid;
    align-content: center;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "imagen1 imagen2"
        "imagen3 imagen4"
    ;

    .imagen1 {
        grid-area: imagen1;

        >img {
            border: 5px solid white;
            border-radius: 10px;
        }
    }

    .texto2 {
        grid-area: imagen2;
        display: flex;
        align-items: center;
        background-color: $secondarycolor;
        border: 5px solid white;
        border-radius: 10px;

        &:hover {
            transform: scale(1.1);
            background: linear-gradient(to bottom, rgb(8, 8, 109), rgb(107, 164, 211));
        }

        >h5 {
            animation-name: entradatexto;
            animation-duration: 2s;
            
        }
              

    }

    .imagen3 {
        grid-area: imagen3;

        >img {
            border: 5px solid white;
            border-radius: 10px;
        }

    }

    .texto4 {
        grid-area: imagen4;
        display: flex;
        align-items: center;
        background-color: $secondarycolor;
        border: 5px solid white;
        border-radius: 10px;

        &:hover {
            transform: scale(1.1);
            background: linear-gradient(to bottom, rgb(8, 8, 109), rgb(107, 164, 211));
        }

        >h5 {
            animation-name: entradatexto;
            animation-duration: 2s;
            
        }
      
        
        @keyframes entradatexto {
            0% {
                -webkit-transform: rotateY(-100deg);
                transform: rotateY(-100deg);
                -webkit-transform-origin: right;
                transform-origin: right;
                opacity: 0;
            }
    
            100% {
                -webkit-transform: rotateY(0);
                transform: rotateY(0);
                -webkit-transform-origin: right;
                transform-origin: right;
                opacity: 1;
            }
        }
       
    }

    @media screen and (max-width:480px) {
        .grid0 {
            display: flex;
            flex-direction: column;
            align-content: center;
                           
            }

        }
    }


    @media screen and (max-width:768px) {
        .grid0 {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }

       @mixin tamanos ($ancho, $alto, $center, $opacity) {
        width: $ancho;
        height: $alto;
        text-align: $center;
        opacity: $opacity;
    }

    .grid0 .texto2 {
        width: 450px;
        height: 450px;
        text-align: center;
        opacity: 90%;
        @include tamanos (450px, 450px, center, 90%);
    }

    .grid0 .texto4 {
        @include tamanos (450px, 450px, center, 90%);
    }

    @mixin flex-center {
        display: flex;
        justify-content: center;
        opacity: 90%;
    }

    .imagen1 {
        @include flex-center();
    }

    .imagen3 {
        @include flex-center();
    }

   