$movil-breakpoint-small: 480px;

.menu{
    .redes{
        display: flex;
        justify-content: center;
        @media (min-width: $movil-breakpoint-small)  {}
                               
        }
    }
      
.logo {
    width: 100%;
    justify-content: center;
    @media (min-width: $movil-breakpoint-small) {}
    
}
.grid0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: $movil-breakpoint-small) {}
   
    
}
$tablet-breakpoint-small: 768px;
.menu {
    grid-template-columns: repeat(4, 1fr);
   
    .redes {
    display: flex;
    justify-content: center;
        @media (min-width: $tablet-breakpoint-small)  {}
    }
    
}      
.logo {
    width: 100%;   
    @media (min-width: $tablet-breakpoint-small)  { }
}    
.grid0 {
    >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-content: center;
              
    @media (min-width: $tablet-breakpoint-small)  { }
}
}
/*corregir*/