@media(max-width:480px) {
    .body {
        width: 100%;
        }

       .logo {
        width: 100%;

    }

    .grid0 {
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }

    .videos-goar {
        width: 100%;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        border: none;
    }

}

@mixin medias-queries ($ancho, $flex, $column) {
    width: $ancho;
    display: $flex;
    flex-direction: $column;
}

.contactosprincipal {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include medias-queries (100%, flex, column);
}

.contactosprincipal {
    @include medias-queries(100%, flex, column);

}



@media (min-width:480px) and (max-width:728px) {
    .body {
        width: 100%;
        }

    .logo {
        width: 100%;
    }
    .grid0 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        }

       .servicios {
        gap: 10px;
    }
    .videos-goar {
        width: 100%;
    }
    .contactosprincipal { 
        .cardcontacto {
            width: 100%;
        }
    }

    .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;

    }
}
@mixin medias-queries ($ancho, $flex, $column) {
    width: $ancho;
    display: $flex;
    flex-direction: $column;
}

.ubicacion {
        width: 100%;
        display: flex;
        flex-direction: column;
    
        @include medias-queries (100%, flex, column);
    }


.contactosprincipal {
    @include medias-queries (100%, flex, column);
    align-items: center;
}
