.fondo {
    background: $maincolor;
    opacity: 90%;
    background-size: cover;
    background-repeat: no-repeat;

    .menu {
        background-color: $secondarycolor;
        width: 100%;
        height: 60%;
        padding-top: 90px;
        gap: 5px;

        .gridmenu {
            display: grid;
            justify-content: center;
            grid-template-columns: 80px 100px 105px 105px;
            text-align: center;
            list-style-type: none;

            li {
                &:hover {
                    transform: scale(1.1);

                }

                a {
                    color: white;
                    font-family: $fontSans;
                    font-weight: 900;
                    margin-left: 5px;
                    padding: 3px;
                    padding-bottom: 3px;
                    background: $maincolor;
                    border: none;
                    border-radius: 10px;
                    text-decoration: none;

                }

            }
        }

    }

    .redes {
        font-family: $fontSans;
        font-weight: 800;
        font-size: 17px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 20px;

        a {
            text-decoration: none;
            color: white;
        }
    }

    .logo {
        background-color: $secondarycolor;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-content: center;

        animation-name: rebote;
        animation-duration: 4s;

        @keyframes rebote {
            0% {
                transform: translateY(-500px);
                animation-timing-function: ease-in;
                opacity: 0
            }

            38% {
                transform: translateY(0);
                animation-timing-function: ease-out;
                opacity: 1
            }

            55% {
                transform: translateY(-65px);
                animation-timing-function: ease-in
            }

            72% {
                transform: translateY(0);
                animation-timing-function: ease-out
            }

            81% {
                transform: translateY(-28px);
                animation-timing-function: ease-in
            }

            90% {
                transform: translateY(0);
                animation-timing-function: ease-out
            }

            95% {
                transform: translateY(-8px);
                animation-timing-function: ease-in
            }

            100% {
                transform: translateY(0);
                animation-timing-function: ease-out
            }

        }


    }

    @media screen and (max-width:480px) {

        .menu {
            .redes {

                display: flex;
                justify-content: flex-end;
                padding: 10px;
            }
        }

    }

    .logo {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .body {
        .menu {
            grid-template-columns: repeat(4, 1fr);
            align-content: center;

            .redes {
                display: flex;
                justify-content: flex-end;
                padding-top: 10px;
            }
        }

        .logo {
            width: 100%;

        }
    }
}