.fondo {
    background: $maincolor;
    opacity: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;

    .menu {
        background-color: $secondarycolor;
        gap: 3px;
      
        

        .logo {
            background-color: $secondarycolor;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
           

            animation-name: rebote;
            animation-duration: 4s;

            img {
                width: 250px;
                max-width: 100%;

            }

            @keyframes rebote {
                0% {
                    transform: translateY(-500px);
                    animation-timing-function: ease-in;
                    opacity: 0
                }

                38% {
                    transform: translateY(0);
                    animation-timing-function: ease-out;
                    opacity: 1
                }

                55% {
                    transform: translateY(-65px);
                    animation-timing-function: ease-in
                }

                72% {
                    transform: translateY(0);
                    animation-timing-function: ease-out
                }

                81% {
                    transform: translateY(-28px);
                    animation-timing-function: ease-in
                }

                90% {
                    transform: translateY(0);
                    animation-timing-function: ease-out
                }

                95% {
                    transform: translateY(-8px);
                    animation-timing-function: ease-in
                }

                100% {
                    transform: translateY(0);
                    animation-timing-function: ease-out
                }

            }


        }

        .gridmenu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            list-style-type: none;
            padding: 20px;
            flex-wrap: wrap;
            gap: 7px;
          
            

            li {
                &:hover {
                    transform: scale(1.1);

                }

                a {
                    color: white;
                    font-family: $fontSans;
                    font-weight: 900;
                    background: $maincolor;
                    border: none;
                    border-radius: 10px;
                    text-decoration: none;
                    margin-left: 5px;
                    padding: 3px;
                    padding-bottom: 3px;

                }
            }


        }

        .redes {
            font-family: $fontSans;
            font-weight: 800;
            font-size: 17px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 7px;
            

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}
@media screen and (max-width:480px) {
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width:768px) {
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
}