.servicios {
    padding: 20px;
    text-align: center;
    align-items: center;
    display: grid;
    justify-items: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas:
        "imagen1 imagen1 imagen2 imagen2"
        "imagen3 imagen3 imagen3 imagen3"
    ;
    animation-name: entrada;
    animation-duration: 2s;

    @keyframes entrada {
        0% {
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
        }

        100% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
    }

    .imagenservicio1 {
        grid-area: imagen1;
    }

    .imgenservicio2 {
        grid-area: imagen2;
    }

    .imagendeposito {
        grid-area: imagen3;
    }

    >div {
        .card {
            .card1 {
                background: linear-gradient(rgb(9, 157, 216)70%, rgb(230, 22, 22));
                border-radius: 5px;
            }

            .card2 {
                background: linear-gradient(rgb(230, 22, 22)70%, rgb(9, 157, 216));
                border-radius: 5px;
            }

            .card-text {
                background: linear-gradient(black, gray);
                border-radius: 3px;
                color: white;
                font-family: $fontSans;
                font-weight: $font-weight;
                font-size: 15px;
                font-style: oblique;

                &card-text:hover {
                    transform: scale(1.1);

                }
            }

        }

    }

    @media screen and (max-width:480px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

    }


    @media screen and (max-width:768px) {
        .servicios {
            .imagenservicio1 {
                .card-text {
                    background: $card-text;
                }
            }

            .imagenservicio2 {
                .card-text {
                    background: $card-text;
                }
            }

            .imagendeposito {
                .card-text {
                    background: $card-text;
                }
            }
        }
    }

}