.servicios {
    padding: 30px;

    .tarjetasservicios {
        display: flex;
        justify-content: center;

        .card {
            width: 300px;
            text-align: center;
            border-radius: 5px;

            .card-body {
                background: linear-gradient(rgba(15, 161, 255, 0.958420868347339) 20%, rgba(15, 16, 17, 0.958) 80%);

                .card-title {
                    font-family: $fontSans;
                    font-weight: $font-weight;
                    font-style: oblique;
                    text-align: center;
                }

                .card-text {
                    display: flex;
                    align-items: center;
                    border-radius: 3px;
                    font-size: 15px;
                    font-family: $fontSans;
                    font-weight: $font-weight;
                    font-style: oblique;
                    text-align: center;
                    color: white;



                    &:hover {
                        transform: scale(1.1);

                    }

                }
            }

        }

        animation-name: entrada;
        animation-duration: 2s;


        @keyframes entrada {
            0% {
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
            }

            100% {
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
            }
        }

    }
}

