@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@400;500;600;700 & display=swap');

$fontSans:sans-serif;
$font-weight:600;
$maincolor:linear-gradient(159deg, rgba(162, 37, 37, 1) 28%, rgba(15, 161, 255, 0.958420868347339) 58%, rgba(187, 118, 130, 0.958420868347339) 83%);
$secondarycolor:black;
